.activity_Card_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .activityCard {
    border: 0.1rem solid #131212;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    margin: 1rem;
    background-color: #fff; /* Добавить белый фон для карточки */
    border-radius: 8px; /* Добавить скругленные углы */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Добавить тень */
  }
  
  .activityImage {
    max-width: 100%;
    height: auto;
  }
  
  .activityTitle {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .activityDescription {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    color: #666;
  }
  
  .activity-price {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  /* Кнопка "Подробнее" */
  .activityCard__button {
    background-color: #007bff; /* Синий цвет */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .activityCard__button:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении */
  }
  
  /* Кнопка "Назад" */
  .activityCard button {
    background-color: #007bff; /* Синий цвет */
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .activityCard button:hover {
    background-color: #0056b3; /* Темно-синий цвет при наведении */
  }