.activityContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .activityContainer > img {
    margin-bottom: 15px;
  }
  