.header {
  background: linear-gradient(90deg, #007bff 0%, #b3cccf 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header_container {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  max-width: 1300px;
  padding: 0 30px;
  flex-wrap: wrap;
}

.navLinks {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 12px 25px;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

nav a.active {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.signOut, .authButtons {
  margin-left: auto;
}

.authButtons {
  display: flex;
  gap: 15px;
}

.authButtons a .signOut {
  padding: 10px 25px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.authButtons a:hover, .signOut a:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navLinks {
    justify-content: center;
  }

  .authButtons {
    justify-content: center;
    margin-top: 15px;
  }

  nav a {
    padding: 14px 30px;
  }
}

@media (min-width: 1440px) {
  .navbar {
    max-width: 1500px;
    width: 100vw;
  }
}
