.header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.header_container {
  margin-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

nav {
  display: flex;
  gap: 15px; /* расстояние между ссылками */
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.active {
  background-color: rgba(255, 255, 255, 0.4); /* выделение активной ссылки */
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* можно настроить ширину */
  padding: 0 20px;
}

.navLinks {
  display: flex;
  gap: 15px; /* расстояние между ссылками */
}

.signOut {
  margin-left: auto; /* двигает Sign out вправо */
}
