html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.buttons_container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

.product_List_Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
